@import "../../App.css";

.hero {
    color: hsl(var(--clr-white));
}

.back-icon {
    width: 32px;
}

.pokeball-icon {
    position: absolute;
    width: 208px;
    height: 208px;
    right: 8px;
    top: 8px;

    opacity: 0.2;
}

.pokemon-image {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 45%;
    top: 80px;
}