@import "../../App.css";

.hero {
    color: hsl(var(--clr-white));
}

.back-icon {
    width: 32px;
}

.back-icon:hover {
    opacity: 75%;
}

.pokeball-icon {
    position: absolute;
    height: 500px;
    max-height: 45%;
    right: 8px;
    top: 8px;

    opacity: 0.2;
}
