@import "../../App.css";

.home {
    background-color: hsl(var(--clr-red));
}

.cards {
    /* Grayscale/White */
    background: hsl(var(--clr-white));

    /* Inner Shadow/2 dp */
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.cards::-webkit-scrollbar {
    display: none;
}

.nav-arrow {
    color: hsl(var(--clr-white));
    cursor: pointer;
    font-size: 16px;
}

.nav-arrow:hover {
    opacity: 75%;
}