@import "../../App.css";

/**About**/
.attribute {
    min-height: 75px;
}

.attribute-key {
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;

    /* Grayscale/Medium */
    color: hsl(var(--clr-grey));
}

.attribute-value {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

    /* Grayscale/Dark */
    color: hsl(var(--clr-black));
}

.description {
    /* Body/Body 3 */
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;

    /* Grayscale/Dark */
    color: hsl(var(--clr-black));
}
