@import "../../App.css";

/**About**/
.attribute {
    height: 90px;
}

.attribute-key {
    font-style: normal;
    font-weight: 400;
    font-size: 8px;

    /* Grayscale/Medium */
    color: hsl(var(--clr-grey));
}

.attribute-value {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

    /* Grayscale/Dark */
    color: hsl(var(--clr-black));
}

.attribute-icon {
    height: 40px;
}

.description {
    /* Body/Body 3 */
    font-weight: 400;
    font-size: 10px;

    /* Grayscale/Dark */
    color: hsl(var(--clr-black));
}
