.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 16px;

    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* Grayscale/White */
    color: #FFFFFF;
}

.header-container img {
    width: 24px;
    height: 24px;
}