@import "../../App.css";

/* Search */
.search-filter {
    height: 75px;
}

.search {
    height: 50px;

    /* Grayscale/White */
    background: hsl(var(--clr-white));

    /* Inner Shadow/2 dp */
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.search img {
    width: 25px;
}

.search-input {
    font-size: 14px;
    color: hsl(var(--clr-grey));
}

.search-input:focus {
    color: hsl(var(--clr-black));
}

.search-input:focus::placeholder {
    color: transparent;
}

.close-btn img {
    width: 25px;
    height: 25px;
}

/* Sort */
.sort-btn {
    width: 50px;
    height: 50px;

    /* Grayscale/White */
    background: hsl(var(--clr-white));

    /* Inner Shadow/2 dp */
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.sort-btn img {
    width: 30px;
}

.dropdown {
    width: 105px;
    height: 80px;
    top: 100px;
    right: 20px;

    /* Grayscale/White */
    background: hsl(var(--clr-white));

    /* Inner Shadow/2 dp */
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    position: absolute;
    z-index: 1;
}

.radio-btn {
  accent-color: hsl(var(--clr-red));
}

.radio-btn + label {
    font-size: 10px;
    line-height: 16px;

    /* Grayscale/Dark */
    color: hsl(var(--clr-black));
}