:root {
  --clr-red: 350, 91%, 45%,
  --clr-white: 0, 0%, 100%,
  --clr-black: 0, 0%, 11%,
  --clr-grey: 0, 0%, 40%;
}

@font-face {
  font-family: Poppins;
  src: url('./assets//fonts/Poppins-Regular.ttf');
  weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('./assets//fonts/Poppins-Bold.ttf');
  weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: Poppins, serif; 
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.5em;
  line-height: 0px;
}

h2 {
  font-size: 0.875em;
  line-height: 0px;
}

h3 {
  font-size: 0.75em;
  line-height: 0px;
}

h4 {
  font-size: 0.625em;
  line-height: 0px;
}

input, input:focus {
  border:0;
  outline:0;
}

/* App */
.app {
  height: 648px;
  width: 368px;
  border: 2px solid #000000;
  border-radius: 5px;
}

.content-divider {
  width: 1px;
  height: 100%;

  /* Grayscale/Light */
  background: #E0E0E0;
}




