@font-face {
    font-family: Poppins;
    src: url('./assets//fonts/Poppins-Regular.ttf');
    weight: 400
}

@font-face {
    font-family: Poppins;
    src: url('./assets//fonts/Poppins-Bold.ttf');
    weight: 700
}

* {
    box-sizing: border-box;
    font-family: Poppins, serif;
    
}

h1 {
    font-size: 1.5em;
    line-height: 32px;
}

h2 {
    font-size: 0.875em;
    line-height: 16px;
}

h3 {
    font-size: 0.75em;
    line-height: 16px;
}

input, input:focus {
    border:0;
    outline:0;
}

/* App */
.app {
    height: 648px;
    width: 368px;
    border-radius: 0px;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 16px;

    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* Grayscale/White */
    color: #FFFFFF;
}

.header-container img {
    width: 24px;
    height: 24px;
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 4px;
    gap: 8px;
    background-color: #DC0A2D;
}

/* Card */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 104px;
    height: 108px;
    background-color: #fff;
    /* Drop Shadow/2 dp */
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: relative;
}

.card-id {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    padding: 4px 8px 0px;
    width: 104px;
    height: 16px;
    font-size: 8px;
    line-height: 12px;
    color: #666666;
}

.card-name {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 24px 8px 4px;
    width: 104px;
    height: 44px;
    /* Grayscale/Background */
    border-radius: 7px;
    background-color: #efefef;
    font-size: 10px;
    line-height: 16px;
    color: #1d1d1d;
}

.card img {
    width: 72px;
    height: 72px;
    left: 16px;
    top: 16px;
    position: absolute;
}

.card:hover {
    cursor: pointer;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;
    margin-top: 16px;
    padding: 24px 12px;
    gap: 8px;

    /* Grayscale/White */
    background: #FFFFFF;

    /* Inner Shadow/2 dp */
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.cards-container::-webkit-scrollbar {
    display: none;
}

/* Search */
.search-filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
    gap: 16px;

    height: 32px;
    position: relative;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;

    width: 100%;
    height: 32px;

    /* Grayscale/White */
    background: #FFFFFF;

    /* Inner Shadow/2 dp */
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.search-container img {
    width: 16px;
    height: 16px;
}

.search-input {
    font-size: 10px;
    line-height: 16px;
    color: #666666;
    width: 100% 
}

.search-input:focus {
    color: #1D1D1D;
}

.search-input:focus::placeholder {
    color: transparent;
}

.close-container {
    display: flex;
    flex-direction: row;
}

.close-container img {
    width: 16px;
    height: 16px;
}

/* Sort */
.sort-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;

    width: 32px;
    height: 32px;

    /* Grayscale/White */
    background: #FFFFFF;

    /* Inner Shadow/2 dp */
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.sort-button img {
    width: 16px;
    height: 16px;
}

.sort-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 20px;
    gap: 16px;

    width: 105px;
    height: 80px;
    top: 8px;
    right: 8px;

    /* Grayscale/White */
    background: #FFFFFF;

    /* Inner Shadow/2 dp */
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    position: absolute;
    z-index: 1;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    height: 16px;
}

.radio-button {
  accent-color: #DC0A2D;
}

.radio-button + label {
    font-size: 10px;
    line-height: 16px;

    /* Grayscale/Dark */
    color: #1D1D1D;
}

/* Pokemon Info */
.pokeinfo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 4px;
    position: relative;
}

.pokeinfo-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 8px;
    color: #FFFFFF;
    width: 100%;
    height: 34%;
}

.pokeinfo-header span {
    width: 100%;
}

.back-icon {
    width: 32px;
    height: 32px;
}

.pokeball-image {
    position: absolute;
    width: 208px;
    height: 208px;
    right: 8px;
    top: 8px;

    opacity: 0.1;
}

.pokemon-image {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 76px;
    top: 80px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 56px 20px 20px;
    gap: 16px;

    height: 64%;
    max-height: 412px;

    /* Grayscale/White */
    background: #FFFFFF;

    /* Inner Shadow/2 dp */
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

/** Pokemon Types **/
.types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 100%;
    height: 20px;
}

.type-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;

    height: 20px;

    /* Grayscale/Medium */
    background: #666666;
    border-radius: 10px;
}

.type-container span {
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
}

  